name: Main CI Pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

# When a PR is updated, cancel the jobs from the previous version. Merges
# do not define head_ref, so use run_id to never cancel those jobs.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 85
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print image tag
        run: |
          echo "Image Tag: ${{ github.sha }}"

      - name: Build Docker image for x86-64
        run: |
          docker buildx create --use --bootstrap
          docker buildx build \
            --cache-from harbor.main.rise-ck8s.com/des-public/tutorials:latest \
            --tag harbor.main.rise-ck8s.com/des-public/tutorials:${{ github.sha }}-amd64 \
            --load .

      - name: Run notebook tests
        run: |
          DES_DOCKER_IMAGE="harbor.main.rise-ck8s.com/des-public/tutorials:${{ github.sha }}-amd64" ./start_tests.sh

      - name: Build arm64 and push to registry
        if: github.ref == 'refs/heads/main'
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login harbor.main.rise-ck8s.com -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --cache-from harbor.main.rise-ck8s.com/des-public/tutorials:latest \
            --cache-from harbor.main.rise-ck8s.com/des-public/tutorials:${{ github.sha }}-amd64 \
            --tag harbor.main.rise-ck8s.com/des-public/tutorials:${{ github.sha }} \
            --tag harbor.main.rise-ck8s.com/des-public/tutorials:latest \
            --push .
